<ion-view style="background: #fafafa; ">

  <ion-content>

    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search"></i>
        <input type="text" placeholder="Rechercher un event" ng-model="search">
      </label>
    </div>

    <div class="list padding">
      <div ng-class="item" ng-repeat="event in events | filter: search" class="padding">

        <div class="item item-avatar">
          <img ng-src="{{ getPromotor(event.promotorId).logo_url }}">

          <h2 class="title h1 bold">{{ getPromotor(event.promotorId).name }}</h2>


          <p>Promotor slogan here ! </p>
        </div>
        <a href="#/details/{{event.id}}" style="text-decoration: none;">
          <div class="item item-image">

            <img ng-src=""
                 style="background-image: url({{event.picture}});
                  -webkit-background-size: cover;background-size: cover;
                  display: block;
                  height: 180px;
                  background-position: center center;">
          </div>


          <div class="item item-text-wrap">
            <p class="text-center" style="font-size:12px">
              <span class="icon icon-left"><i class="icon ion-calendar"></i> {{event.date | date:'dd/mm/yyyy'}}</span> -
              <span class="icon icon-left">
                <i class="icon ion-android-time"></i>  {{event.date | date:'hh:mm'}}</span>
            </p>

            <p class="text-center" style="font-size:12px" ng-show="event.location">
              <span class="icon icon-left item-text-wrap"><i class="icon ion-android-pin"></i> {{event.location}}</span>
            </p>
          </div>
        </a>

      </div>

    </div>

  </ion-content>

</ion-view>
