<ion-view style="background: #f4f4f4;" view-title="Search event">

  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher un event" ng-model="search">
      </label>
    </div>

    <div class="list">
      <div ng-class="item" collection-repeat="event in events | filter: search" class="padding">
        <div class="row">

        </div>
        <div class="item item-image">

          <img
            style="background-image: url({{event.picture}});
                  -webkit-background-size: cover;background-size: cover;
                  display: block;
                  height: 180px;
                  background-position: center center;"/>
        </div>

        <div class="item item-text-wrap">
          <div class="h3 text-center "> {{ event.name }}</div>
          <div class="text-center" style="font-size:12px">
              <span class="h5">
                <i class="fa fa-calendar-check-o"></i>
                {{formtatDate (event.date, 'full')}}
              </span>
          </div>

          <div class="text-center" style="font-size:12px" ng-show="event.location">
            <span class="icon icon-left item-text-wrap"><i class="icon ion-android-pin"></i> {{event.location}}</span>
          </div>

          <div class="text-center" style="font-size:12px" ng-show="event.promotorId !== null">
            <i class="icon ion-android-person"></i>
            {{ getPromotor(event.promotorId).name}}
            </span> -
               <span class="icon icon-left item-text-wrap">
                <i class="fa fa-heart assertive"></i>
                {{ getPromotor(event.promotorId).likes}}
              </span>
          </div>

        </div>
        <a href="#/events/{{event.id}}/details" class="item button button-block button-dark  button-small">
          Details & Billets
          <i class="fa fa-ticket"></i>
        </a>

      </div>
    </div>

  </ion-content>

</ion-view>
