<ion-view hide-nav-bar="true" view-title="Home" class="welcome-view">

  <ion-content class="splash padding" scroll="false">

    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 class="app-logo">Wayzer</h1>
        <p class="app-tagline">
          Découvres les meilleurs events et achètes tes tickets !
        </p>
      </div>
    </div>


    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="google-sign-in button button-block" href="#/events" ng-click="googleSignIn()">
          <span class="btn-copy">Commencer !!</span>
        </a>
        <div class="row split-actions">
          <div class="col">
            <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
              Facebook
            </a>
          </div>
          <div class="col">
            <a class="twitter-sign-in button button-block" ng-click="twitterSignIn()">
              Twitter
            </a>
          </div>
        </div>
        <div class="row split-actions other-actions">
          <div class="col">
            <a class="button button-block button-clear" ng-click="showLogIn()">
              Sign In with Email
            </a>
          </div>
          <div class="col">
            <a class="button button-block button-clear" ng-click="showSignUp()">
              Create Account
            </a>
          </div>
        </div>
      </div>
    </div>

</ion-view>
