.star > .item-content {
  background-color: #EEE8D6 !important;
}

.splash {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.branding{
  max-width: 300px;
  margin: 40% auto;
  text-align: center;
}

.branding p {
  margin-top: 10px;
  font-size: 1rem;
}

.tagline{
  font-size: 3.5em;
}

.picture {
  margin: 0 auto;
  width:200px;
  height: 200px;
}

